{% extends 'base.html.twig' %}

{% block navbar %}
    <nav class="container container-nav">
        <input type="checkbox" name="checkbox" id="check">
        
        <div class="nav-btn">
            <div class="nav-links">
                <ul class="nav-links-ul">
                    <li class="nav-link" style="--i: .6s">
                        <a href="{{path('front_home')}}" class="active">Accueil</a>
                    </li>
                    <li class="nav-link" style="--i: 1.1s">
                        <a href="#">A la une</a>
                    </li>
                    <li class="nav-link" style="--i: .85s">
                        <a href="#">Collection<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="{{path('front_collection50_60')}}">Années 50-60</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{{path('front_collection70')}}">Années 70</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{{path('front_collection80')}}">Années 80</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{{path('front_collection90')}}">Années 90</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a href="{{path('front_home')}}" class="logo-a"><img class="logo" src="/assets/images/logo-retro.png" alt="logo-retro"></a>
                    </li>
                    <li class="nav-link" style="--i: 1.1s">
                        <a href="{{path('front_blog')}}">Blog</a>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a href="{{path('front_contact_us')}}">Contact</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-link" style="--i: .85s">
                            <a href="#">Connecté<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="{{path('admin_dashboard')}}">Admin</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="{{path('app_logout')}}">Déconnexion</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-link" style="--i: 1.35s">
                            <a href="{{path('app_login')}}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="hamburger-menu-container">
            <div class="hamburger-menu">
                <div></div>
                <img class="hamburger-logo" src="/assets/images/logo-retro.png" alt="hamburger-logo">
            </div>
        </div>
    </nav>

    {# This part dispays the left dashboard navigation bar #}
    <div class="menu-button">
        <input id="dropdown-button" type="checkbox" class="dropdown-toggle" />
        <label class="dropdown-label" for="dropdown-button"></label>
        <div class="menu-slide-from-left" id="menu">
            <div class="inner-menu-slide-from-left">
                <div id="translateId" class="admin-left-dashboard">
                    <input type="checkbox" name="checkbox" id="check">
                    <div class="dashboard-links">
                        <ul class="dashboard-links-ul">
                            <li class="dashboard-link-title" style="--i: .85s">
                                <a href="#" id="dashboard-link-title">Ajouter / modifier</a>
                            </li>
                            <li class="dashboard-link" style="--i: .85s">
                                <a href="#">Maillots</a>
                            </li>
                            <div class="dashboard-dropdown">
                                <ul>
                                    <li class="dashboard-dropdown-link">
                                        <a href="{{path('admin_cycling_shirts')}}">Un maillot</a>
                                    </li>
                                </ul>
                            </div>
                            <li class="dashboard-link" style="--i: .85s">
                                <a href="#">Blog</a>
                            </li>
                            <div class="dashboard-dropdown">
                                <ul>
                                    <li class="dashboard-dropdown-link">
                                        <a href="{{path('admin_categories')}}">Une catégorie</a>
                                    </li>
                                    <li class="dashboard-dropdown-link">
                                        <a href="{{path('admin_articles')}}">Un article</a>
                                    </li>
                                    <li class="dashboard-dropdown-link">
                                        <a href="{{path('admin_contents')}}">Le contenu de l'article</a>
                                    </li>
                                </ul>
                            </div>
                            <li class="dashboard-link" style="--i: .85s">
                                <a href="#">Images de fond</a>
                            </li>
                            <div class="dashboard-dropdown">
                                <ul>
                                    <li class="dashboard-dropdown-link">
                                        <a href="{{path('admin_background_pictures')}}">Une image de fond</a>
                                    </li>
                                </ul>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascript %}
        {{parent()}}
        {{ encore_entry_script_tags('adminLeft') }}
    {% endblock %}
{% endblock %}