{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }}-Admin-L'article{% endblock %}

{% block body %}
    <h1 class="title-crud">Détails de l'article</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="col">Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th scope="col">Image article</th>
                <td><img src="/assets/images/uploads/{{ article.picture }}"></td>
            </tr>
            <tr>
                <th scope="col">Nom</th>
                <td>{{ article.name }}</td>
            </tr>
                <th scope="col">Catégorie</th>
                <td>{{ article.category }}</td>
            </tr>
            <tr>
                <th scope="col">Date de création</th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-M-d') : '' }}</td>
            </tr>
        </tbody>
         <tfoot>
            <th>
                <a href="{{ path('admin_articles') }}">Retour sur les articles</a>
            </th>
        </tfoot>
    </table>
    <div class="button-action">
        <a class="btn btn-success" href="{{ path('admin_article_edit', {'id': article.id}) }}" role="button">Modifier</a>
        {{ include('admin/article_delete_form.html.twig') }}
    </div>

{% endblock %}
