{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }}- Admin-Images de fond{% endblock %}

{% block body %}
    <h1 class="title-crud">Images de fond</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="col">Id</th>
                <td>{{ background_image.id }}</td>
            </tr>
            <tr>
                <th scope="col">Image de fond</th>
                <td><img src="/assets/images/uploads/{{ background_image.picture }}"></td>
            </tr>
        </tbody>
        <tfoot>
            <th>
                <a href="{{ path('admin_background_images') }}">Retour à l'accueil administrateur</a>
            </th>
        </tfoot>
    </table>
    <div class="button-action">
        <a class="btn btn-success" href="{{ path('admin_background_image_edit', {'id': background_image.id}) }}" role="button">Modifier</a>
        {{ include('admin/background_image_delete_form.html.twig') }}
    </div>
{% endblock %}
