{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }}- Admin-Images de fond{% endblock %}

{% block body %}
    <h1 class="title-crud">Liste des images de fond</h1>
    <a class="btn btn-success btn-created" href="{{ path('admin_background_image_new') }}" role="button">Créer une image de fond</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Picture</th>
            </tr>
        </thead>
        <tbody>
        {% for background_image in background_images %}
            <tr>
                <td><img src="/assets/images/uploads/{{ background_image.picture }}"></td>
                <td>
                    <a class="btn btn-outline-dark" href="{{ path('admin_background_image_show', {'id': background_image.id}) }}" role="button">Détails</a>
                    <a class="btn btn-outline-dark"href="{{ path('admin_background_image_edit', {'id': background_image.id}) }}" role="button">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune image de fond trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
