{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }} - Admin - Les catégories{% endblock %}

{% block body %}
    <h1>Les catégories</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom de la catégorie</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td class="btn-edit">
                    <div class="btn-delete">{{ include('admin/category_delete_form.html.twig') }}</div>
                    <a class="btn btn-outline-dark" href="{{ path('admin_category_edit', {'id': category.id}) }}" role="button">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">Aucune catégorie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-created" href="{{ path('admin_category_new') }}" role="button">Créer une catégorie</a>
{% endblock %}
