{# This is the page that will display the details of an article #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }}-Article-{{ article.name }}{% endblock %}

{% block body %}

<div class="background-picture-article" style="background-image: url('/assets/images/uploads/{{ article.picture }}')"></div>
{% if background_pictures == false %}       
    <article class="article-box">
        <h1 class="collection-title"><span>{{ article.name }}</span></h1>
            {% for articleContent in articleContents %}
                <aside class="article-content">
                    <h2 class="article-title-h2">{{ articleContent.title }}</h2>
                    <p class="article-p">{{ articleContent.content }}</p>
                </aside>
            {% endfor %}

            <h3 class="article-title-h3">Partager</h3>
            <div class="container-social">
                <button class="btn btn-share share_twitter" data-url="{{ absolute_url(path('front_article', { id: article.id })) }}">
                    <img class="logo-share" src="/assets/images/twitter-logo.png" title="Partager sur Twitter" alt="logo Twitter">
                </button>
                <button class="btn btn-share share_facebook" data-url="{{ absolute_url(path('front_article', { id: article.id  })) }}">
                    <img class="logo-share" src="/assets/images/facebook-logo.png" title="Partager sur Facebook" alt="logo Facebook">
                </button>
                <button class="btn btn-share share_linkedin" data-url="{{ absolute_url(path('front_article', { id: article.id  })) }}">
                    <img class="logo-share" src="/assets/images/linkedin-logo.png" title="Partager sur Linkedin" alt="logo Linkedin">
                </button>
            </div>
            <div class="separateur">
                <img class="d-block w-100" src="/assets/images/separateur.png" alt="séparateur">
            </div>

            {% if not is_granted('ROLE_USER') %}
                <div class="comments" id="add-comment">
                    <h3 class="article-title-h3">Votre commentaire</h3>
                    <div class="info-banner info">
                        <div class="icon fas fa-info-circle"></div>
                        <div class="content">
                        Vous devez être connecté pour poster un commentaire.<br><a href="{{ path('app_login') }}">Se connecter</a> ou <a href="{{ path('app_registrer') }}">Créer un compte</a>
                        </div>
                    </div>
                </div>
                    <div class="separateur">
                    <img class="d-block w-100" src="/assets/images/separateur.png" alt="séparateur">
                </div>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <div class="comment-form"  id="add-comment">
                    {{form_start(commentForm) }}
                    {{ form_row(commentForm.comment, {'attr': {'placeholder': 'Commentaire' }}) }}                
                    <button class="btn comment-btn">Envoyer</button>
                    {{ form_end(commentForm) }}
                </div>
            
                <div class="separateur">
                    <img class="d-block w-100" src="/assets/images/separateur.png" alt="séparateur">
                </div>
            {% endif %}

            <div class="bloc-comments">
                <h3 class="article-title-h3"><img src="/assets/images/chat.png" alt="icône commentaires">
                    {% if article.comments|length == 0 %}
                        Aucun commentaire
                    {% elseif article.comments|length == 1 %}
                        1 commentaire
                    {% else %}
                        {{ article.comments|length }} commentaires
                    {% endif %}
                </h3>
                {% for comment in comments %}
                    {% if comment.parent == null %}
                        <div class="comments-container">
                            <div class="comment-by">
                                <div class="avatar">
                                    <img class="d-block w-100" src="/assets/images/avatar.png" alt="icçone avatar">
                                </div>
                                <div class="comments-username">
                                    <p class="comment-user">Publié par <span>{{ comment.user.pseudo }}</span><br>
                                    - Le {{ comment.createdAt|date("d/m/Y à H:i") }} -</p>
                                </div>
                            </div>
                            <p class="comments-text">{{ comment.comment}}</p>
                            <p><a href="#add-comment" data-reply data-id="{{ comment.id }}" class="btn btn-comment">Répondre</a></p>
                            {% if is_granted("ROLE_ADMIN") %}
                                <form method="post" class="button-comment-delete" action="{{ path('front_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce commentaire ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                    <button class="btn btn-danger btn-comment-delete">Supprimer</button>
                                </form>
                            {% endif %}
                        </div>

                        {# we display the answers #}
                        {% for reply in comment.replies %}
                            <div class="reply-container">
                                <div class="reply-by">
                                    <div class="avatar">
                                        <img class="d-block w-100" src="/assets/images/avatar.png" alt="icône avatar">
                                    </div>
                                    <div class="reply-username">
                                        <p class="comment-user">Réponse publiée par <span>{{ reply.user.pseudo }}</span><br>
                                        - Le {{ reply.createdAt|date("d/m/Y à H:i") }} -</p>
                                    </div>
                                </div>
                                <p class="replies-text">{{ reply.comment}}</p>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <form method="post" class="button-comment-delete" action="{{ path('front_comment_delete', {'id': reply.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce commentaire ?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reply.id) }}">
                                        <button class="btn btn-danger btn-comment-delete">Supprimer</button>
                                    </form>
                                {% endif %}  
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </article>
    </div>
{% else %}

    {% for background_picture in background_pictures %}
        <section class="background" style="background-image:url( /assets/images/uploads/{{ background_picture.picture }}">
            <article class="article-box">
                <h1 class="collection-title"><span>{{ article.name }}</span></h1>
                {% for articleContent in articleContents %}
                    <aside class="article-content">
                        <h2 class="article-title-h2">{{ articleContent.title }}</h2>
                        <p class="article-p">{{ articleContent.content }}</p>
                    </aside>
                {% endfor %}
                <h3 class="article-title-h3">Partager</h3>
                <div class="container-social">
                    <button class="btn btn-share share_twitter" data-url="{{ absolute_url(path('front_article', { id: article.id })) }}">
                        <img class="logo-share" src="/assets/images/twitter-logo.png" title="Partage sur Twitter" alt="logo Twitter">
                    </button>
                    <button class="btn btn-share share_facebook" data-url="{{ absolute_url(path('front_article', { id: article.id  })) }}">
                        <img class="logo-share" src="/assets/images/facebook-logo.png" title="Partage sur Facebook" alt="logo Facebook">
                    </button>
                    <button class="btn btn-share share_linkedin" data-url="{{ absolute_url(path('front_article', { id: article.id  })) }}">
                        <img class="logo-share" src="/assets/images/linkedin-logo.png" title="Partage sur Linkedin" alt="logo Linkedin">
                    </button>
                </div>
                <div class="separateur">
                    <img class="d-block w-100" src="/assets/images/separateur.png" alt="séparateur">
                </div>

                {% if not is_granted('ROLE_USER') %}
                    <div class="comments" id="add-comment">
                        <h3 class="article-title-h3">Votre commentaire</h3>
                        <div class="info-banner info">
                            <div class="icon fas fa-info-circle"></div>
                            <div class="content">
                            Vous devez être connecté pour poster un commentaire.<br><a href="{{ path('app_login') }}">Se connecter</a> ou <a href="{{ path('app_registrer') }}">Créer un compte</a>
                            </div>
                        </div>
                    </div>
                     <div class="separateur">
                        <img class="d-block w-100" src="/assets/images/separateur.png" alt="séparateur">
                    </div>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <div class="comment-form"  id="add-comment">
                        {{form_start(commentForm) }}
                        {{ form_row(commentForm.comment, {'attr': {'placeholder': 'Commentaire' }}) }}                
                        <button class="btn comment-btn">Envoyer</button>
                        {{ form_end(commentForm) }}
                    </div>
                
                    <div class="separateur">
                        <img class="d-block w-100" src="/assets/images/separateur.png" alt="séparateur">
                    </div>
                {% endif %}
                
                <div class="bloc-comments">
                    <h3 class="article-title-h3"><img src="/assets/images/chat.png" alt="icône commentaires">
                        {% if article.comments|length == 0 %}
                            Aucun commentaire
                        {% elseif article.comments|length == 1 %}
                            1 commentaire
                        {% else %}
                            {{ article.comments|length }} commentaires
                        {% endif %}
                    </h3>
                    {% for comment in comments %}
                        {% if comment.parent == null %}
                            <div class="comments-container">
                                <div class="comment-by">
                                    <div class="avatar">
                                        <img class="d-block w-100" src="/assets/images/avatar.png" alt="icône avatar">
                                    </div>
                                    <div class="comments-username">
                                        <p class="comment-user">Publié par <span>{{ comment.user.pseudo }}</span><br>
                                        - Le {{ comment.createdAt|date("d/m/Y à H:i") }} -</p>
                                    </div>
                                </div>
                                <p class="comments-text">{{ comment.comment}}</p>
                                <p><a href="#add-comment" data-reply data-id="{{ comment.id }}" class="btn btn-comment">Répondre</a></p>
                            </div>
                            {% if is_granted("ROLE_ADMIN") %}
                                <form method="post" action="{{ path('front_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce commentaire ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                    <button class="btn btn-danger admin-delete-btn">Supprimer</button>
                                </form>
                            {% endif %}
                            {# we display the answers #}
                            {% for reply in comment.replies %}
                                <div class="reply-container">
                                    <div class="reply-by">
                                        <div class="avatar">
                                            <img class="d-block w-100" src="/assets/images/avatar.png" alt="icône avatar">
                                        </div>
                                        <div class="reply-username">
                                            <p class="comment-user">Réponse publiée par <span>{{ reply.user.pseudo }}</span><br>
                                            - Le {{ reply.createdAt|date("d/m/Y à H:i") }} -</p>
                                        </div>
                                    </div>
                                    <p class="replies-text">{{ reply.comment}}</p>
                                </div>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <form method="post" action="{{ path('front_comment_delete', {'id': reply.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce commentaire ?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reply.id) }}">
                                        <button class="btn btn-danger admin-delete-btn">Supprimer</button>
                                    </form>
                                {% endif %}                            
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </article>
        </section>
    {% endfor %}
{% endif %}

   {% block javascript %}
       {{ parent() }}
       {{ encore_entry_script_tags('social') }}
   {% endblock %}
{% endblock %}
