{# This is the page that will display the details of an article #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }} - Article - {{ article.name }}{% endblock %}

{% block body %}
<section class="background-picture-home">
</section>
    <h1><span>{{ article.name }}</span></h1>
        <article class="article-box">
            {% for articleContent in articleContents %}
            <aside class="article-content">
                <h2>{{ articleContent.title }}</h2>
                    <p>{{ articleContent.content }}</p>
            </aside>
            {% endfor %}
        </article>
{% endblock %}
