{# This is the page that will display informations about the blog #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }}-Blog{% endblock %}

{% block body %}

{% if background_pictures == false %}
    <section>
        <h1 class="articles-title"><span>Les articles</span></h1>
        <div class="filterButtons">
            <button type="button" id="allArticles">Tous les articles</button>
            <button type="button" id="switchCyclist">Coureurs d'antan</button>
            <button type="button" id="switchCyclingShirt">Maillots d'antan</button>
            <button type="button" id="switchTours">Courses d'antan</button>
        </div>

        <article id="blogArticles">
            <div class="blog-article">
                {% for article in articles %}
                    <div class="bloc-article">
                        <h2 class="title-article">{{ article.name }}</h2>
                        <div class="img-article">
                            <a href="{{ path('front_article', { id : article.id }) }}" title="Voir {{ article.name }}">
                                <img class="blog-blog-picture-article d-block w-100" src=" /assets/images/uploads/{{ article.picture }}" alt="{{ article.name }}">  
                            </a>
                        </div>
                        <div class="description-article">
                            <h3 class="detail-article"><span class="elipse"></span>{{ article.category }}</h3>
                            <h3 class="detail-article"><span class="elipse"></span>{{ article.createdAt|date("d/m/Y") }}</h3>
                        </div>
                        {% if article.comments|length == 0 %}
                            <h3 class="detail-article"><span class="elipse"></span>Aucun commentaire</h3>
                        {% elseif article.comments|length == 1 %}
                            <h3 class="detail-article"><span class="elipse"></span>1 commentaire</h3>
                        {% else %}
                            <h3 class="detail-article"><span class="elipse"></span>{{ article.comments|length }} commentaires</h3>
                        {% endif %}
                        <a class="btn btn-article" href="{{ path('front_article', { id : article.id }) }}" role="button">Lire >></a>
                    </div>
                {% endfor %}
            </div>
        </article>

        <article id="blogCyclingShirt" style="display:none;">
            <div class="blog-article">
                {% for article in articles %}
                    {% if article.category == "Maillots d'antan" %}
                        <div class="bloc-article">
                            <h2 class="title-article">{{ article.name }}</h2>
                            <div class="img-article">
                                <a href="{{ path('front_article', { id : article.id }) }}">
                                    <img class=" blog-picture-article d-block w-100" src=" /assets/images/uploads/{{ article.picture }}" alt="{{ article.name }}">  
                                </a>
                            </div>
                            <div class="description-article">
                                <h3 class="detail-article"><span class="elipse"></span>{{ article.category }}</h3>
                                <h3 class="detail-article"><span class="elipse"></span>{{ article.createdAt|date("d/m/Y") }}</h3>
                            </div>
                            {% if article.comments|length == 0 %}
                                <h3 class="detail-article"><span class="elipse"></span>Aucun commentaire</h3>
                            {% elseif article.comments|length == 1 %}
                                <h3 class="detail-article"><span class="elipse"></span>1 commentaire</h3>
                            {% else %}
                                <h3 class="detail-article"><span class="elipse"></span>{{ article.comments|length }} commentaires</h3>
                            {% endif %}
                            <a class="btn btn-article" href="{{ path('front_article', { id : article.id }) }}" role="button">Lire >></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </article>

        <article id="blogCyclist" style="display:none;">
            <div class="blog-article">
                {% for article in articles %}
                    {% if article.category == "Coureurs d'antan" %}
                        <div class="bloc-article">
                            <h2 class="title-article">{{ article.name }}</h2>
                            <div class="img-article">
                                <a href="{{ path('front_article', { id : article.id }) }}">
                                    <img class=" blog-picture-article d-block w-100" src=" /assets/images/uploads/{{ article.picture }}" alt="{{ article.name }}">  
                                </a>
                            </div>
                            <div class="description-article">
                                <h3 class="detail-article"><span class="elipse"></span>{{ article.category }}</h3>
                                <h3 class="detail-article"><span class="elipse"></span>{{ article.createdAt|date("d/m/Y") }}</h3>
                            </div>
                            {% if article.comments|length == 0 %}
                                <h3 class="detail-article"><span class="elipse"></span>Aucun commentaire</h3>
                            {% elseif article.comments|length == 1 %}
                                <h3 class="detail-article"><span class="elipse"></span>1 commentaire</h3>
                            {% else %}
                                <h3 class="detail-article"><span class="elipse"></span>{{ article.comments|length }} commentaires</h3>
                            {% endif %}
                            <a class="btn btn-article" href="{{ path('front_article', { id : article.id }) }}" role="button">Lire >></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </article>

        <article id="blogTour" style="display:none;">
            <div class="blog-article">
                {% for article in articles %}
                    {% if article.category == "Tours d'antan" %}
                        <div class="bloc-article">
                            <h2 class="title-article">{{ article.name }}</h2>
                            <div class="img-article">
                                <a href="{{ path('front_article', { id : article.id }) }}">
                                    <img class=" blog-picture-article d-block w-100" src=" /assets/images/uploads/{{ article.picture }}" alt="{{ article.name }}">  
                                </a>
                            </div>
                            <div class="description-article">
                                <h3 class="detail-article"><span class="elipse"></span>{{ article.category }}</h3>
                                <h3 class="detail-article"><span class="elipse"></span>{{ article.createdAt|date("d/m/Y") }}</h3>
                            </div>
                            {% if article.comments|length == 0 %}
                                <h3 class="detail-article"><span class="elipse"></span>Aucun commentaire</h3>
                            {% elseif article.comments|length == 1 %}
                                <h3 class="detail-article"><span class="elipse"></span>1 commentaire</h3>
                            {% else %}
                                <h3 class="detail-article"><span class="elipse"></span>{{ article.comments|length }} commentaires</h3>
                            {% endif %}
                            <a class="btn btn-article" href="{{ path('front_article', { id : article.id }) }}" role="button">Lire >></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </article>
    </section>
{% else %}

    {% for background_picture in background_pictures %}
        <section class="background" style="background-image:url( /assets/images/uploads/{{ background_picture.picture }}">
            <h1 class="articles-title"><span>Les articles</span></h1>

            <div class="filterButtons">
                <button type="button" id="allArticles">Tous les articles</button>
                <button type="button" id="switchCyclist">Coureurs d'antan</button>
                <button type="button" id="switchCyclingShirt">Maillots d'antan</button>
                <button type="button" id="switchTours">Tours d'antan</button>
            </div>

            <article id="blogArticles">
                <div class="blog-article">
                    {% for article in articles %}
                        <div class="bloc-article">
                            <h2 class="title-article">{{ article.name }}</h2>
                            <div class="img-article">
                                <a href="{{ path('front_article', { id : article.id }) }}" title="Voir {{ article.name }}">
                                    <img class=" blog-picture-article d-block w-100" src=" /assets/images/uploads/{{ article.picture }}" alt="{{ article.name }}">  
                                </a>
                            </div>
                            <div class="description-article">
                                <h3 class="detail-article"><span class="elipse"></span>{{ article.category }}</h3>
                                <h3 class="detail-article"><span class="elipse"></span>{{ article.createdAt|date("d/m/Y") }}</h3>
                            </div>
                            {% if article.comments|length == 0 %}
                                <h3 class="detail-article"><span class="elipse"></span>Aucun commentaire</h3>
                            {% elseif article.comments|length == 1 %}
                                <h3 class="detail-article"><span class="elipse"></span>1 commentaire</h3>
                            {% else %}
                                <h3 class="detail-article"><span class="elipse"></span>{{ article.comments|length }} commentaires</h3>
                            {% endif %}
                            <a class="btn btn-article" href="{{ path('front_article', { id : article.id }) }}" role="button">Lire >></a>
                        </div>
                    {% endfor %}
                </div>
            </article>

            <article id="blogCyclingShirt" style="display:none;">
                <div class="blog-article">
                    {% for article in articles %}
                        {% if article.category == "Maillots d'antan" %}
                            <div class="bloc-article">
                                <h2 class="title-article">{{ article.name }}</h2>
                                <div class="img-article">
                                    <a href="{{ path('front_article', { id : article.id }) }}">
                                        <img class=" blog-picture-article d-block w-100" src=" /assets/images/uploads/{{ article.picture }}" alt="{{ article.name }}">  
                                    </a>
                                </div>
                                <div class="description-article">
                                    <h3 class="detail-article"><span class="elipse"></span>{{ article.category }}</h3>
                                    <h3 class="detail-article"><span class="elipse"></span>{{ article.createdAt|date("d/m/Y") }}</h3>
                                </div>
                                {% if article.comments|length == 0 %}
                                    <h3 class="detail-article"><span class="elipse"></span>Aucun commentaire</h3>
                                {% elseif article.comments|length == 1 %}
                                    <h3 class="detail-article"><span class="elipse"></span>1 commentaire</h3>
                                {% else %}
                                    <h3 class="detail-article"><span class="elipse"></span>{{ article.comments|length }} commentaires</h3>
                                {% endif %}
                                <a class="btn btn-article" href="{{ path('front_article', { id : article.id }) }}" role="button">Lire >></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </article>

            <article id="blogCyclist" style="display:none;">
                <div class="blog-article">
                    {% for article in articles %}
                        {% if article.category == "Coureurs d'antan" %}
                            <div class="bloc-article">
                                <h2 class="title-article">{{ article.name }}</h2>
                                <div class="img-article">
                                    <a href="{{ path('front_article', { id : article.id }) }}">
                                        <img class="blog-picture-article d-block w-100" src=" /assets/images/uploads/{{ article.picture }}" alt="{{ article.name }}">  
                                    </a>
                                </div>
                                <div class="description-article">
                                    <h3 class="detail-article"><span class="elipse"></span>{{ article.category }}</h3>
                                    <h3 class="detail-article"><span class="elipse"></span>{{ article.createdAt|date("d/m/Y") }}</h3>
                                </div>
                                {% if article.comments|length == 0 %}
                                    <h3 class="detail-article"><span class="elipse"></span>Aucun commentaire</h3>
                                {% elseif article.comments|length == 1 %}
                                    <h3 class="detail-article"><span class="elipse"></span>1 commentaire</h3>
                                {% else %}
                                    <h3 class="detail-article"><span class="elipse"></span>{{ article.comments|length }} commentaires</h3>
                                {% endif %}
                                <a class="btn btn-article" href="{{ path('front_article', { id : article.id }) }}" role="button">Lire >></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </article>

            <article id="blogTour" style="display:none">
                <div class="blog-article">
                    {% for article in articles %}
                        {% if article.category == "Tours d'antan" %}
                            <div class="bloc-article">
                                <h2 class="title-article">{{ article.name }}</h2>
                                <div class="img-article">
                                    <a href="{{ path('front_article', { id : article.id }) }}">
                                        <img class=" blog-picture-article d-block w-100" src=" /assets/images/uploads/{{ article.picture }}" alt="{{ article.name }}">  
                                    </a>
                                </div>
                                <div class="description-article">
                                    <h3 class="detail-article"><span class="elipse"></span>{{ article.category }}</h3>
                                    <h3 class="detail-article"><span class="elipse"></span>{{ article.createdAt|date("d/m/Y") }}</h3>
                                </div>
                                {% if article.comments|length == 0 %}
                                    <h3 class="detail-article"><span class="elipse"></span>Aucun commentaire</h3>
                                {% elseif article.comments|length == 1 %}
                                    <h3 class="detail-article"><span class="elipse"></span>1 commentaire</h3>
                                {% else %}
                                    <h3 class="detail-article"><span class="elipse"></span>{{ article.comments|length }} commentaires</h3>
                                {% endif %}
                                <a class="btn btn-article" href="{{ path('front_article', { id : article.id }) }}" role="button">Lire >></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </article>
        </section>
    {% endfor %}
{% endif %}

    {% block javascript %}
        {{parent()}}
        {{ encore_entry_script_tags('blogFilter') }}
    {% endblock %}
{% endblock %}
