{# This is the page that will display informations about the cycling shirts's collections #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }}-Collection{% endblock %}

{% block body %}

{% if background_pictures == false %}
    <section>
        <h1 class="collection-title"><span>Années 80</span></h1>
        <article>
                <div class="nav-mobile-links">
                    <ul>
                        <li class="nav-mobile-title">Autres collections<i class="fas fa-caret-down"></i>
                            <ul>
                                <li><a href="{{path('front_collection50_60')}}" title="Voir collection années 1950-1960">Années 50-60</a></li>
                                <li><a href="{{path('front_collection70')}}" title="Voir collection années 1970">Années 70</a></li>
                                <li><a href="{{path('front_collection90')}}" title="Voir collection années 1990">Années 90</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            <div class="cycling-shirt-display">
            {% for cyclingShirt in cyclingShirts80 %}
                <div class="cycling-shirt-container">
                    <div class="cycling-shirt-hover">
                        <a href="{{ path('front_shirt_cycling80', { id : cyclingShirt.id }) }}"><img class="cycling-shirt-picture" src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                        <div class="overlay overlayFade">
                            <a href="{{ path('front_shirt_cycling80', { id : cyclingShirt.id }) }}" title="Voir le maillot {{ cyclingShirt.name }}"><div class="text">Voir >></div></a>
                        </div>
                    </div>
                    <h2>{{ cyclingShirt.name }}</h2>
                </div>
            {% endfor %}
            </div>
        </article>
    </section>
{% else %}

    {% for background_picture in background_pictures %}
        <section class="background" style="background-image:url( /assets/images/uploads/{{ background_picture.picture }}">
            <h1 class="collection-title"><span>Années 80</span></h1>
                <article>
                    <div class="nav-mobile-links">
                        <ul>
                            <li class="nav-mobile-title">Autres collections<i class="fas fa-caret-down"></i>
                                <ul>
                                    <li><a href="{{path('front_collection50_60')}}" title="Voir collection années 1950-1960">Années 50-60</a></li>
                                    <li><a href="{{path('front_collection70')}}" title="Voir collection années 1970">Années 70</a></li>
                                    <li><a href="{{path('front_collection90')}}" title="Voir collection années 1990">Années 90</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                <div class="cycling-shirt-display">
                {% for cyclingShirt in cyclingShirts80 %}
                    <div class="cycling-shirt-container">
                        <div class="cycling-shirt-hover">
                            <a href="{{ path('front_shirt_cycling80', { id : cyclingShirt.id }) }}"><img class="cycling-shirt-picture" src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                            <div class="overlay overlayFade">
                                <a href="{{ path('front_shirt_cycling80', { id : cyclingShirt.id }) }}" title="Voir le maillot {{ cyclingShirt.name }}"><div class="text">Voir >></div></a>
                            </div>
                        </div>
                        <h2>{{ cyclingShirt.name }}</h2>
                    </div>
                {% endfor %}
                </div>
            </article>
        </section>
    {% endfor %}
{% endif %}

{% endblock %}
