{# This is the page that will display informations about the cycling shirts's collections #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }}-Collection{% endblock %}

{% block body %}
    <section>
        <div class="background-picture-home"></div>
    </section>

    <section>
        <h1 class="collection-title"><span>Années 90</span></h1>
        <div class="cycling-shirt-display">
        {% for cyclingShirt in cyclingShirts90 %}
            <div class="cycling-shirt-container">
                <div class="cycling-shirt-hover">
                    <a href="{{ path('front_shirt_cycling90', { id : cyclingShirt.id }) }}"><img class="cycling-shirt-picture" src="/assets/images/uploads/{{ cyclingShirt.picture }}" alt="cycling shirt picture"></a>
                    <div class="overlay overlayFade">
                        <a href="{{ path('front_shirt_cycling90', { id : cyclingShirt.id }) }}"><div class="text">Voir >></div></a>
                    </div>
                </div>
                <h2>{{ cyclingShirt.name }}</h2>
            </div>
        {% endfor %}
        </div>
    </section>
{% endblock %}
