{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }}-Contact{% endblock %}

{% block body %}

    {% if background_pictures == false %}
        <h1 style="display:none;">Contact retro cycling</h1>
        <section class="top-background-contact">
            <h2 class="contact-title">Contactez-nous</h2>
            <p class="contact-title-p"> Vous souhaitez :<br> - poser une question ? <br> - faire une remarque ? <br> - entrer en contact avec les développeurs ? <br> ...</p>
        </section>

        <section class="contact-container">
            <article class="contact-article-left">
                <h3 class="contact-title-h2">Laissez-nous un message</h3>
                    <hr class="hr-contact">
                    <div class="form-contact">
                        {{ form_start(contactForm) }}
                            <div class="row">
                                <div class="col">{{ form_row(contactForm.name, {'attr': {'placeholder': 'Nom' }}) }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ form_row(contactForm.email, {'attr': {'placeholder': 'Adresse mail'|antispam(true) }}) }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ form_row(contactForm.message, {'attr': {'placeholder': 'Message' }}) }}</div>
                            </div>
                            {{ form_widget(contactForm) }}
                            <button class="btn btn-contact">Envoyer</button>
                        {{ form_end(contactForm) }}
                    </div>
            </article>

            <article class="contact-article-right">
                <h2 class="contact-title-h2">Ou contactez les développeurs</h2>
                    <hr class="hr-contact">
                    <div class="developer-container">
                        <div class="developer-contact">
                            <img class="developer-picture" src="/assets/images/yann.jpg" alt="Photo de Yann Raulet">
                            <ul class="social-icons">
                                <li>Yann RAULET</li>
                                <li><a href="https://www.linkedin.com/in/yann-raulet37" target="_blank" title="Lien vers le Linkedin de Yann"><img src="/assets/images/linkedin.png" alt="logo Linkedin"></a></li>   
                            </ul>
                        </div>

                        <div class="developer-contact">
                            <img class="developer-picture" src="/assets/images/kevin.jpg" alt="Photo de Kévin Francisco">
                            <ul>
                                <li>Kévin FRANCISCO</li>
                                <li><a href="https://www.linkedin.com/in/k%C3%A9vin-francisco-223178116/" target="_blank" title="Lien vers le Linkedin de Kévin"><img src="/assets/images/linkedin.png" alt="logo Linkedin"></a></li>
                            </ul>
                        </div>
                    </div>
            </article>
        </section>
    {% else %}

        {% for background_picture in background_pictures %}
            <h1 style="display:none;">Contact retro cycling</h1>
            <section class="top-background-contact">
                <h2 class="contact-title">Contactez-nous</h2>
                <p class="contact-title-p"> Vous souhaitez :<br> - poser une question ? <br> - faire une remarque ? <br> - entrer en contact avec les développeurs ? <br> ...</p>
            </section>

            <section class="background" style="background-image:url( /assets/images/uploads/{{ background_picture.picture }}">
                <div class="contact-container">
                    <article class="contact-article-left">
                        <h3 class="contact-title-h2">Laissez-nous un message</h3>
                            <hr class="hr-contact">
                            <div class="form-contact">
                                {{ form_start(contactForm) }}
                                    <div class="row">
                                        <div class="col">{{ form_row(contactForm.name, {'attr': {'placeholder': 'Nom' }}) }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">{{ form_row(contactForm.email, {'attr': {'placeholder': 'Adresse mail'|antispam(true) }}) }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">{{ form_row(contactForm.message, {'attr': {'placeholder': 'Message' }}) }}</div>
                                    </div>
                                    {{ form_widget(contactForm) }}
                                    <button class="btn btn-contact">Envoyer</button>
                                {{ form_end(contactForm) }}
                            </div>
                    </article>

                    <article class="contact-article-right">
                        <h2 class="contact-title-h2">Ou contactez les développeurs</h2>
                            <hr class="hr-contact">
                            <div class="developer-container">
                                <div class="developer-contact">
                                    <img class="developer-picture" src="/assets/images/yann.jpg" alt="Photo de Yann Raulet">
                                    <ul class="social-icons">
                                        <li>Yann RAULET</li>
                                        <li><a href="https://www.linkedin.com/in/yann-raulet37" target="_blank" title="Lien vers le Linkedin de Yann"><img src="/assets/images/linkedin.png" alt="logo Linkedin"></a></li>   
                                    </ul>
                                </div>

                                <div class="developer-contact">
                                    <img class="developer-picture" src="/assets/images/kevin.jpg" alt="Photo de Kévin Francisco">
                                    <ul>
                                        <li>Kévin FRANCISCO</li>
                                        <li><a href="https://www.linkedin.com/in/k%C3%A9vin-francisco-223178116/" target="_blank" title="Lien vers le Linkedin de Kévin"><img src="/assets/images/linkedin.png" alt="logo Linkedin"></a></li>
                                    </ul>
                                </div>
                            </div>
                    </article>
                </div>
            </section>
        {% endfor %}
    {% endif %}

{% endblock %} 
