{% extends 'base.html.twig' %}

{% block navbar %}
    <nav class="container">
        <input type="checkbox" name="checkbox" id="check">
        
        <div class="nav-btn">
            <div class="nav-links">
                <ul class="nav-links-ul">
                    <li class="nav-link" style="--i: .6s">
                        <a href="{{path('front_home')}}" class="active">Accueil</a>
                    </li>
                    <li class="nav-link" style="--i: .85s">
                        <a href="#">Collection<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="{{path('front_collection50_60')}}">Années 50-60</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{{path('front_collection70')}}">Années 70</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{{path('front_collection80')}}">Années 80</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{{path('front_collection90')}}">Années 90</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: 1.1s">
                        <a href="#">A la une</a>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a href="{{path('front_home')}}" class="logo-a"><img class="logo" src="/assets/images/logo-retro.png" alt="logo-retro"></a>
                    </li>
                    <li class="nav-link" style="--i: 1.1s">
                        <a href="{{path('front_blog')}}">Blog</a>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a href="{{path('front_contact')}}">Contact</a>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a href="#">Connexion</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="hamburger-menu-container">
            <div class="hamburger-menu">
                <div></div>
                <img class="hamburger-logo" src="/assets/images/logo-retro.png" alt="hamburger-logo">
            </div>
        </div>
    </nav>
{% endblock %}

{% block footer %}
    <footer>        
    </footer>
{% endblock %}
{% block javascript %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}