{# This is the home page that will display the cycling shirts's collection, the latest's artciles #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }}-Accueil{% endblock %}

{% block body %}
    <section>
        <div class="background-picture-home"></div>
    </section>

    <section>
        <h1 class="collection-title"><span>Collection</span></h1>
        <section class="accordions-pictures">
            <div class="accordions-pictures1">
                <h2 class="collection-title-h2"><a href="{{path('front_collection50_60')}}">Années 50-60</a></h2 class="collection-title-h2">
                <div class="accordions-section1">
                {% for cyclingShirt in cyclingShirts50_60 %}
                    {% if loop.index == 1 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling50_60', { id : cyclingShirt.id }) }}"><img class="img img1" src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="cycling shirt picture"></a>
                    {% elseif loop.index == 2 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling50_60', { id : cyclingShirt.id }) }}"><img class="img img2" src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="cycling shirt picture"></a>
                    {% elseif loop.index == 3 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling50_60', { id : cyclingShirt.id }) }}"><img class="img img3" src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="cycling shirt picture"></a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="accordions-pictures2">
                <h2 class="collection-title-h2"><a href="{{path('front_collection70')}}">Années 70</a></h2 class="collection-title-h2">
                <div class="accordions-section2">
                {% for cyclingShirt in cyclingShirts70 %}
                    {% if loop.index == 1 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}"><img class="img img4" src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="cycling shirt picture"></a>
                    {% elseif loop.index == 2 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}"><img class="img img5" src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="cycling shirt picture"></a>
                    {% elseif loop.index == 3 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}"><img class="img img6" src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="cycling shirt picture"></a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </section>
        <section class="accordions-pictures">
            <div class="accordions-pictures1">
                <h2 class="collection-title-h2"><a href="{{path('front_collection80')}}">Années 80</a></h2 class="collection-title-h2">
                <div class="accordions-section1">
                {% for cyclingShirt in cyclingShirts80 %}
                    {% if loop.index == 1 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}"><img class="img img1" src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="cycling shirt picture"></a>
                    {% elseif loop.index == 2 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}"><img class="img img2" src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="cycling shirt picture"></a>
                    {% elseif loop.index == 3 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}"><img class="img img3" src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="cycling shirt picture"></a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="accordions-pictures2">
                <h2 class="collection-title-h2"><a href="{{path('front_collection90')}}">Années 90</a></h2 class="collection-title-h2">
                <div class="accordions-section2">
                {% for cyclingShirt in cyclingShirts90 %}
                    {% if loop.index == 1 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}"><img class="img img4" src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="cycling shirt picture"></a>
                    {% elseif loop.index == 2 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}"><img class="img img5" src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="cycling shirt picture"></a>
                    {% elseif loop.index == 3 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}"><img class="img img6" src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="cycling shirt picture"></a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </section>
    </section>

    <section class="home-articles">
        <h1 class="home-articles-title"><span>A la une</span></h1>
    </section>
{% endblock %}
