{# This is the home page that will display the cycling shirts's collection, the latest's artciles #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }}-Accueil{% endblock %}

{% block body %}

<h1 class="h1-home">retro-cycling accueil</h1>
{% if background_pictures == false %}
    <section>
        <article class="home-presentation-picture-texts">
            <div class="background-picture-home"></div>
            <div class="home-presentation-texts">
                <h2 class="home-presentation-text1">RETRO-CYCLING</h2>
                <h3 class="home-presentation-text2"> Bienvenue sur le blog d'un collectionneur grand amateur de cyclisme. Vous retrouverez des photos d'expositions, une galerie de maillots datant des années 1950 à 1990,
                des informations sur chaque maillot ainsi que des articles présentant des anecdotes sur le cyclisme d'antan.</h3>
            </div>
        </article>

        <article>
            <h4 class="exhibition-title"><span>Les dernières expositions</span></h4>
            <p class="exhibition-title-p">Juin 2021 - Josselin</p>
            <div class="exhibition-pictures">
                <img data-src="/assets/images/exposition1.jpg" class="lazy exhibition-picture" alt="Photo exposition">
                <img data-src="/assets/images/exposition2.jpg" class="lazy exhibition-picture" alt="Photo exposition">
                <img data-src="/assets/images/exposition3.jpg" class="lazy exhibition-picture" alt="Photo exposition">
                <img data-src="/assets/images/exposition4.jpg" class="lazy exhibition-picture" alt="Photo exposition">
            </div>
            <p class="exhibition-title-p">Novembre 2019 - Aucaleuc</p>
            <div class="exhibition-pictures">
                <img data-src="/assets/images/exposition5.jpg" class="lazy exhibition-picture" alt="Photo exposition">
                <img data-src="/assets/images/exposition6.jpg" class="lazy exhibition-picture" alt="Photo exposition">
                <img data-src="/assets/images/exposition7.jpg" class="lazy exhibition-picture" alt="Photo exposition">
                <img data-src="/assets/images/exposition8.jpg" class="lazy exhibition-picture" alt="Photo exposition">
            </div>
        </article>

        <article>
            <h4 class="collection-title"><span>La collection de maillots - par catégories</span></h4>
            <div class="accordions-pictures">
                <div class="accordions-pictures1">
                    <p class="collection-title-p"><a href="{{path('front_collection50_60')}}" title="Maillot collection années 50-60">Années 50-60</a></p>
                    <div class="accordions-section1">
                    {% for cyclingShirt in cyclingShirts50_60 %}
                        {% if loop.index == 1 %}
                            <a class="accordion-a" href="{{ path('front_shirt_cycling50_60', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img1" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                        {% elseif loop.index == 2 %}
                            <a class="accordion-a" href="{{ path('front_shirt_cycling50_60', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img2" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                        {% elseif loop.index == 3 %}
                            <a class="accordion-a" href="{{ path('front_shirt_cycling50_60', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img3" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <div class="accordions-pictures2">
                    <p class="collection-title-p"><a href="{{path('front_collection70')}}" title="Maillot collection années 70">Années 70</a></p>
                    <div class="accordions-section2">
                    {% for cyclingShirt in cyclingShirts70 %}
                        {% if loop.index == 1 %}
                            <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img4" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                        {% elseif loop.index == 2 %}
                            <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img5" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                        {% elseif loop.index == 3 %}
                            <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img6" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </article>

        <article class="accordions-pictures">
            <div class="accordions-pictures1">
                <p class="collection-title-p"><a href="{{path('front_collection80')}}" title="Maillot collection années 80">Années 80</a></p>
                <div class="accordions-section1">
                {% for cyclingShirt in cyclingShirts80 %}
                    {% if loop.index == 1 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img1" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                    {% elseif loop.index == 2 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img2" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                    {% elseif loop.index == 3 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img3" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="accordions-pictures2">
                <p class="collection-title-p"><a href="{{path('front_collection90')}}" title="Maillot collection années 90">Années 90</a></p>
                <div class="accordions-section2">
                {% for cyclingShirt in cyclingShirts90 %}
                    {% if loop.index == 1 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img4" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                    {% elseif loop.index == 2 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img5" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                    {% elseif loop.index == 3 %}
                        <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img6" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </article>

        <a href="#ancre"></a>
        <article class="home-articles">
            <h4 id ="a-la-une" class="home-article-title ancre"><span>Derniers articles publiés</span></h4>
            <aside class="box-article">
                {% for article in articles %}
                    <div class="image-article">
                        <a href="{{ path('front_article', { id : article.id }) }}" title="Voir l'article {{ article.name }}">
                            <img class=" picture-article-home d-block w-100" src=" /assets/images/uploads/{{ article.picture }}" alt="{{ article.name }}">  
                        </a>
                        <p class="card-article-title">{{ article.name }}</p>
                        <a class="btn btn-article-home" href="{{ path('front_article', { id : article.id }) }}" role="button">Lire >></a>
                    </div>
                {% endfor %}
            </aside> 
            <a class="btn btn-blog" href="{{ path('front_blog') }}" title="page blog" role="button">Voir tous les articles</a>
        </article>

        <article>
            <h4 class="map-title"><span>Des équipes venants de toute la france</span></h4>
             {# Add leaflet map #}
            <div id="mapId">
            </div>
        </article>
    </section>
{% else %}

    {% for background_picture in background_pictures %}
        <section class="background" style="background-image:url( /assets/images/uploads/{{ background_picture.picture }}">
            <article class="home-presentation-picture-texts">
                <div class="background-picture-home"></div>
                <div class="home-presentation-texts">
                    <h2 class="home-presentation-text1">RETRO-CYCLING</h2>
                    <h3 class="home-presentation-text2"> Bienvenue sur le blog d'un collectionneur grand amateur de cyclisme. Vous retrouverez des photos d'expositions, une galerie de maillots datant des années 1950 à 1990,
                    des informations sur chaque maillot ainsi que des articles présentant des anecdotes sur le cyclisme d'antan.</h3>
                </div>
            </article>

            <article>
                <h4 class="exhibition-title"><span>Les dernières expositions</span></h4>
                <p class="exhibition-title-p">Juin 2021 - Josselin</p>
                <div class="exhibition-pictures">
                    <img data-src="/assets/images/exposition1.jpg" class="lazy exhibition-picture" alt="Photo exposition">
                    <img data-src="/assets/images/exposition2.jpg" class="lazy exhibition-picture" alt="Photo exposition">
                    <img data-src="/assets/images/exposition3.jpg" class="lazy exhibition-picture" alt="Photo exposition">
                    <img data-src="/assets/images/exposition4.jpg" class="lazy exhibition-picture" alt="Photo exposition">
                </div>
                <p class="exhibition-title-p">Novembre 2019 - Aucaleuc</p>
                <div class="exhibition-pictures">
                    <img data-src="/assets/images/exposition5.jpg" class="lazy exhibition-picture" alt="Photo exposition">
                    <img data-src="/assets/images/exposition6.jpg" class="lazy exhibition-picture" alt="Photo exposition">
                    <img data-src="/assets/images/exposition7.jpg" class="lazy exhibition-picture" alt="Photo exposition">
                    <img data-src="/assets/images/exposition8.jpg" class="lazy exhibition-picture" alt="Photo exposition">
                </div>
            </article>

            <article>
                <h4 class="collection-title"><span>La collection de maillots - par catégories</span></h4>
                <div class="accordions-pictures">
                    <div class="accordions-pictures1">
                        <p class="collection-title-p"><a href="{{path('front_collection50_60')}}" title="Maillot collection années 50-60">Années 50-60</a></p>
                        <div class="accordions-section1">
                        {% for cyclingShirt in cyclingShirts50_60 %}
                            {% if loop.index == 1 %}
                                <a class="accordion-a" href="{{ path('front_shirt_cycling50_60', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img1" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                            {% elseif loop.index == 2 %}
                                <a class="accordion-a" href="{{ path('front_shirt_cycling50_60', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img2" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                            {% elseif loop.index == 3 %}
                                <a class="accordion-a" href="{{ path('front_shirt_cycling50_60', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img3" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <div class="accordions-pictures2">
                        <p class="collection-title-p"><a href="{{path('front_collection70')}}" title="Maillot collection années 70">Années 70</a></p>
                        <div class="accordions-section2">
                        {% for cyclingShirt in cyclingShirts70 %}
                            {% if loop.index == 1 %}
                                <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img4" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                            {% elseif loop.index == 2 %}
                                <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img5" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                            {% elseif loop.index == 3 %}
                                <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img6" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </article>

            <article class="accordions-pictures">
                <div class="accordions-pictures1">
                    <p class="collection-title-p"><a href="{{path('front_collection80')}}" title="Maillot collection années 80">Années 80</a></p>
                    <div class="accordions-section1">
                    {% for cyclingShirt in cyclingShirts80 %}
                        {% if loop.index == 1 %}
                            <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img1" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                        {% elseif loop.index == 2 %}
                            <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img2" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                        {% elseif loop.index == 3 %}
                            <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img3" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <div class="accordions-pictures2">
                    <p class="collection-title-p"><a href="{{path('front_collection90')}}" title="Maillot collection années 90">Années 90</a></p>
                    <div class="accordions-section2">
                    {% for cyclingShirt in cyclingShirts90 %}
                        {% if loop.index == 1 %}
                            <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img4" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                        {% elseif loop.index == 2 %}
                            <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img5" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                        {% elseif loop.index == 3 %}
                            <a class="accordion-a" href="{{ path('front_shirt_cycling70', { id : cyclingShirt.id }) }}" title="Détail du maillot"><img class="lazy img img6" data-src="/assets/images/uploads/{{ cyclingShirt.pictureFront }}" alt="{{ cyclingShirt.name }}"></a>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </article>

            <a href="#ancre"></a>
            <article class="home-articles">
                <h4 id ="a-la-une" class="home-article-title ancre"><span>Derniers articles publiés</span></h4>
                <aside class="box-article">
                    {% for article in articles %}
                        <div class="image-article">
                            <a href="{{ path('front_article', { id : article.id }) }}" title="Voir l'article {{ article.name }}">
                                <img class=" picture-article-home d-block w-100" src=" /assets/images/uploads/{{ article.picture }}" alt="{{ article.name }}">  
                            </a>
                            <p class="card-article-title">{{ article.name }}</p>
                            <a class="btn btn-article-home" href="{{ path('front_article', { id : article.id }) }}" role="button">Lire >></a>
                        </div>
                    {% endfor %}
                </aside> 
                <a class="btn btn-blog" href="{{ path('front_blog') }}" title="page blog" role="button">Voir tous les articles</a>
            </article>

            <article>
                <h4 class="map-title"><span>Des équipes venants de toute la france</span></h4>
                {# Add leaflet map #}
                <div id="mapId">
                </div>
            </article>
        </section>
    {% endfor %}
{% endif %}

    {% block javascript %}
        {{parent()}}
         <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
        </script>
        <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

        {{ encore_entry_script_tags('map') }}
    {% endblock %}
{% endblock %}
