{# This is the home page that will display the cycling shirts's for 70's collection #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }}-Maillot{% endblock %}

{% block body %}

{% if background_pictures == false %}
    <section>
        <article>
            <h1 class="shirt-description">{{ cyclingShirt70.name }}</h1>
            <hr class="shirt-details-hr">
            {% if app.user %}
                <a class="like" href="{{ path('user_favorite', {id: cyclingShirt70.id})}}">
                    {% if app.user.isInFavorite(cyclingShirt70) %}
                        <img class="favorite-icon" src="{{ asset('assets/images/favoriteRed.png') }}" title="j'aime" alt="logo ajout favoris">
                    {% else %}
                        <img class="favorite-icon" src="{{ asset('assets/images/favoriteEmpty.png') }}" title="j'aime" alt="logo ajout favoris">
                    {% endif %}
                </a>
            {% else %}
                <a class="like-not-connected" href="{{ path('app_login') }}">
                    <img class="favorite-icon" src="{{ asset('assets/images/favoriteEmpty.png') }}" title="j'aime" alt="logo ajout favoris">
                </a>
            {% endif %}
            <p class="likes-number">{{ cyclingShirt70.userLikes|length }}</p>
            <div class = "card-wrapper">
                <div class = "picture-display">
                    <div class = "picture-showcase">
                        <img class="picture-load" src="/assets/images/uploads/{{ cyclingShirt70.pictureFront }}" alt = "Maillot face avant">
                        <img class="picture-load" src="/assets/images/uploads/{{ cyclingShirt70.pictureBack }}" alt = "Maillot face arrière">
                    </div>

                </div>
                <div class = "picture-select">
                    <div class = "picture-item">
                    <a href = "#" data-id = "1">
                        <img class="picture-load" class="picture" src="/assets/images/uploads/{{ cyclingShirt70.pictureFront }}" alt = "Maillot face avant">
                    </a>
                    </div>
                    <div class = "picture-item">
                    <a href = "#" data-id = "2">
                        <img class="picture-load" src="/assets/images/uploads/{{ cyclingShirt70.pictureBack }}"  alt = "Maillot face arrière">
                    </a>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <h2 class="shirt-description">Porté par</h2>
            <hr class="shirt-details-hr">
            <p class="shirt-description-p">{{ cyclingShirt70.cyclistName }}</p>
        </article>

        <article>
            <h3 class="shirt-description">informations sur l'équipe</h3>
            <hr class="shirt-details-hr">
            <p class="shirt-description-p">{{ cyclingShirt70.teamInformations }}</p>
        </article>

        <article>
            <h3 class="shirt-description">Résultats notables</h3>
            <hr class="shirt-details-hr">
            <p class="shirt-description-p">{{ cyclingShirt70.results }}</p>
        </article>
        <a class="btn btn-return" href=javascript:history.go(-1)>Retour page collection</a>
    </section>
{% else %}

    {% for background_picture in background_pictures %}
        <section class="background" style="background-image:url( /assets/images/uploads/{{ background_picture.picture }}">
            <article>
                <h1 class="shirt-description">{{ cyclingShirt70.name }}</h1>
                <hr class="shirt-details-hr">
                {% if app.user %}
                    <a class="like" href="{{ path('user_favorite', {id: cyclingShirt70.id})}}">
                        {% if app.user.isInFavorite(cyclingShirt70) %}
                            <img class="favorite-icon" src="{{ asset('assets/images/favoriteRed.png') }}" title="j'aime" alt="logo-ajout-favoris">
                        {% else %}
                            <img class="favorite-icon" src="{{ asset('assets/images/favoriteEmpty.png') }}" title="j'aime" alt="logo-ajout-favoris">
                        {% endif %}
                    </a>
                {% else %}
                    <a class="like-not-connected" href="{{ path('app_login') }}">
                        <img class="favorite-icon" src="{{ asset('assets/images/favoriteEmpty.png') }}" title="logo ajout favoris" alt="logo ajout favoris">
                    </a>
                {% endif %}
                <p class="likes-number">{{ cyclingShirt70.userLikes|length }}</p>
                <div class = "card-wrapper">
                    <div class = "picture-display">
                        <div class = "picture-showcase">
                            <img class="picture-load" src="/assets/images/uploads/{{ cyclingShirt70.pictureFront }}" alt = "Maillot face avant">
                            <img class="picture-load" src="/assets/images/uploads/{{ cyclingShirt70.pictureBack }}" alt = "Maillot face arrière">
                        </div>
                    </div>
                    <div class = "picture-select">
                        <div class = "picture-item">
                        <a href = "#" data-id = "1">
                            <img class="picture-load" class="picture" src="/assets/images/uploads/{{ cyclingShirt70.pictureFront }}" alt = "Maillot face avant">
                        </a>
                        </div>
                        <div class = "picture-item">
                        <a href = "#" data-id = "2">
                            <img class="picture-load" src="/assets/images/uploads/{{ cyclingShirt70.pictureBack }}" alt = "Maillot face arrière">
                        </a>
                        </div>
                    </div>
                </div>
            </article>

            <article>
                <h2 class="shirt-description">Porté par</h2>
                <hr class="shirt-details-hr">
                <p class="shirt-description-p">{{ cyclingShirt70.cyclistName }}</p>
            </article>

            <article>
                <h3 class="shirt-description">informations sur l'équipe</h3>
                <hr class="shirt-details-hr">
                <p class="shirt-description-p">{{ cyclingShirt70.teamInformations }}</p>
            </article>

            <article>
                <h3 class="shirt-description">Résultats notables</h3>
                <hr class="shirt-details-hr">
                <p class="shirt-description-p">{{ cyclingShirt70.results }}</p>
            </article>
            <a class="btn btn-return" href=javascript:history.go(-1)>Retour page collection</a>
        </section>
    {% endfor %}
{% endif %}

    {% block javascript %}
        {{parent()}}
        {{ encore_entry_script_tags('switchCyclingShirt') }}
    {% endblock %}
{% endblock %}
