{# This is the home page that will display the cycling shirts's for 90's collection #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }} - Maillot{% endblock %}

{% block body %}
    <section>
        <div class="background-picture-home"></div>
    </section>

    <section>
        <div class="shirt-container">
            <img class="shirt-picture" src="/assets/images/uploads/{{ cyclingShirt90.pictureFront }}" alt="cycling shirt picture"></a>
        </div>
        <h2 class="shirt-description">{{ cyclingShirt90.name }}</h2>
    </section>

    <section>
        <h2 class="shirt-description">Porté par</h2>
        <p class="shirt-description-p">{{ cyclingShirt90.cyclistName }}</p>
    </section>

    <section>
        <h2 class="shirt-description">informations sur l'équipe</h2>
        <p class="shirt-description-p">{{ cyclingShirt90.teamInformations }}</p>
    </section>

    <section>
        <h2 class="shirt-description">Résultats notables</h2>
        <p class="shirt-description-p">{{ cyclingShirt90.results }}</p>
    </section>
{% endblock %}
