{# This is the home page that will display the cycling shirts's for 70's collection #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }}-Maillot{% endblock %}

{% block body %}
    <section>
        <div class="background-picture-home"></div>
    </section>

    <section>
        {% if app.user %}
            <a class="like" href="{{ path('user_favorite', {id: cyclingShirt70.id})}}">
                {% if app.user.isInFavorite(cyclingShirt70) %}
                    <img class="favorite-icon" src="{{ asset('assets/images/favoriteRed.png') }}">
                {% else %}
                    <img class="favorite-icon" src="{{ asset('assets/images/favoriteEmpty.png') }}">
                {% endif %}
            </a>
        {% else %}
            <a class="like-not-connected" href="{{ path('app_login') }}">
                <img class="favorite-icon" src="{{ asset('assets/images/favoriteEmpty.png') }}">
            </a>
        {% endif %}

        <h2 class="shirt-description">{{ cyclingShirt70.name }}</h2>
        <hr class="shirt-details-hr">
        <div class = "card-wrapper">
            <div class = "picture-display">
                <div class = "picture-showcase">
                    <img class="picture-load" src="/assets/images/uploads/{{ cyclingShirt70.pictureFront }}" alt = "Maillot face avant">
                    <img class="picture-load" src="/assets/images/uploads/{{ cyclingShirt70.pictureBack }}" alt = "Maillot face arrière">
                </div>
            </div>
            <div class = "picture-select">
                <div class = "picture-item">
                <a href = "#" data-id = "1">
                    <img class="picture-load" class="picture" src="/assets/images/uploads/{{ cyclingShirt70.pictureFront }}" alt = "Maillot face avant">
                </a>
                </div>
                <div class = "picture-item">
                <a href = "#" data-id = "2">
                    <img class="picture-load" src="/assets/images/uploads/{{ cyclingShirt70.pictureBack }}"  alt = "Maillot face arrière">
                </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h2 class="shirt-description">Porté par</h2>
        <hr class="shirt-details-hr">
        <p class="shirt-description-p">{{ cyclingShirt70.cyclistName }}</p>
    </section>

    <section>
        <h2 class="shirt-description">informations sur l'équipe</h2>
        <hr class="shirt-details-hr">
        <p class="shirt-description-p">{{ cyclingShirt70.teamInformations }}</p>
    </section>

    <section>
        <h2 class="shirt-description">Résultats notables</h2>
        <hr class="shirt-details-hr">
        <p class="shirt-description-p">{{ cyclingShirt70.results }}</p>
    </section>

    {% block javascript %}
        {{parent()}}
        {{ encore_entry_script_tags('switchCyclingShirt') }}
    {% endblock %}
{% endblock %}
