
{# This is the base that all other views will extend #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="Z4E0iywnaUCQYDd5whDL0jUpciKyUGntqoMOs_kblN0" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5H5J84NTT3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5H5J84NTT3');
    </script>
    <!-- END- Google Analytics -->
    <meta name="description" content="Retro-Cycling.com est un site communautaire visant les passioné(e)s de cyclisme avant tout.
    Retro-Cycling se concentre sur l'histoire du cyclisme, les maillots, les coureurs, les grands tours etc...">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="canonical" href="https://www.retro-cycling.fr" />
    <link rel="icon" type="image/png" href="{{ asset('assets/images/logo-retro.png') }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"

   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

    <title>{% block title %}Retro Cycling{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    <header>
    {% block navbar %}
    {% endblock %}
    </header>

    {% for message in app.flashes('message') %}
        <div class="alert alert-primary">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    
    <main>
    {% block body %}
    {% endblock %}
    </main>

    <button onclick="topFunction()" id="btnScroll" title="Retourner en haut"><img class="btnHigh" src="{{ asset('assets/images/Top.png') }}" alt="Retourner en haut"></button>

    <footer>
    {% block footer %}
    {% endblock %}
    </footer>

    {% block javascript %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
