{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }}-Profil de {{ app.user.pseudo }}{% endblock %}

{% block body %}

{% if background_pictures == false %}
    <section class="my-info">
    <h1 class="collection-title"><span>Bienvenue {{ app.user.pseudo }}</span></h1>
        <h2 class="title-crud">Mes infos</h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark"><span>Pseudo :</span> {{ app.user.pseudo }}</li>
                <li class="list-group-item list-group-item-dark"><span>Adresse mail :</span> {{ app.user.email }}</li>
                <li class="user-modif list-group-item list-group-item-dark"><span>Je veux modifier :</span>
                    <a class="btn btn-user" href="{{ path('user_edit_profil') }}">Profil</a>
                    <a class="btn btn-user" href="{{ path('user_edit_password') }}">Mot de passe</a>
                </li>
            </ul>
    </section>
    <section class="my-favorite">
        <h3 class="title-crud">Mes Favoris</h3>
            {% for cyclingShirts in app.user.likes|reverse %}
                <figure class="profil-favorite">
                    <img class="picture-favorite" src="/assets/images/uploads/{{ cyclingShirts.pictureFront }}" alt = "Maillot face avant 50-60">
                </figure>
            {% else %}
                <p class="no-favorites">Vous n'avez encore rien posté</p>
            {% endfor %}
    </section>
    <section class="my-comments">
        <h3 class="title-crud">Mes derniers commentaires</h3>
            <p>Mauris faucibus suscipit tortor.
            Phasellus vel dignissim turpis. Sed vitae ornare eros.
            Sed porttitor ligula vitae semper elementum. Nam semper enim quis nisi tempor vulputate.
            Pellentesque placerat lorem arcu, non iaculis erat dictum id.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae
        </p>
    </section>
{% else %}

    {% for background_picture in background_pictures %}
        <section class="background my-info" style="background-image:url( /assets/images/uploads/{{ background_picture.picture }}">
        <h1 class="collection-title"><span>Bienvenue {{ app.user.pseudo }}</span></h1>
            <h2 class="title-crud">Mes infos</h2>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark"><span>Pseudo :</span> {{ app.user.pseudo }}</li>
                    <li class="list-group-item list-group-item-dark"><span>Adresse mail :</span> {{ app.user.email }}</li>
                    <li class="user-modif list-group-item list-group-item-dark"><span>Je veux modifier :</span>
                        <a class="btn btn-user" href="{{ path('user_edit_profil') }}">Profil</a>
                        <a class="btn btn-user" href="{{ path('user_edit_password') }}">Mot de passe</a>
                    </li>
                </ul>
        </section>
        <section class="my-favorite">
            <h3 class="title-crud">Mes Favoris</h3>
                {% for cyclingShirts in app.user.likes|reverse %}
                    <figure class="profil-favorite">
                        <img class="picture-favorite" src="/assets/images/uploads/{{ cyclingShirts.pictureFront }}" alt = "Maillot face avant 50-60">
                    </figure>
                {% else %}
                    <p class="no-favorites">Vous n'avez encore rien posté</p>
                {% endfor %}
        </section>
        <section class="my-comments">
            <h3 class="title-crud">Mes derniers commentaires</h3>
                <p>Mauris faucibus suscipit tortor.
                Phasellus vel dignissim turpis. Sed vitae ornare eros.
                Sed porttitor ligula vitae semper elementum. Nam semper enim quis nisi tempor vulputate.
                Pellentesque placerat lorem arcu, non iaculis erat dictum id.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae
            </p>
        </section>
    {% endfor %}
{% endif %}

{% endblock %}
